<h1>Carrito</h1>

<a href="/products">
  <button>Volver a productos</button>
</a>

<hr>

{{#each cart.products}}

<div style="border:1px solid black; margin:10px; padding:10px;">

{{#if this.product}}

<h3>{{this.product.title}}</h3>

<p>Precio: ${{this.product.price}}</p>

<p>Cantidad: {{this.quantity}}</p>

<button onclick="deleteProduct('{{this.product._id}}')">
Eliminar
</button>

{{/if}}

</div>

{{/each}}

<script>

const cartId = "69aa260f257ed50841857a0d"

function deleteProduct(pid){

  fetch(`/api/carts/${cartId}/products/${pid}`,{
    method:"DELETE"
  })
  .then(res => res.json())
  .then(data => {
    alert("Producto eliminado ❌")
    location.reload()
  })
  .catch(err => console.log(err))

}

</script>