<h1>Mi Ecommerce</h1>

<a href="/carts/69aa260f257ed50841857a0d">
<button>Ir al carrito</button>
</a>

<hr>

{{#each products}}

<div style="border:1px solid black;padding:10px;margin:10px;width:200px">

<h3>{{this.title}}</h3>

<p>Precio: ${{this.price}}</p>

<p>Categoría: {{this.category}}</p>

<button onclick="addProduct('{{this._id}}')">
Agregar al carrito
</button>

</div>

{{/each}}

<script>

const cartId = "69aa260f257ed50841857a0d"

function addProduct(pid){

console.log("Click detectado")
console.log("Producto:", pid)

fetch(`/api/carts/${cartId}/products/${pid}`,{
method:"POST"
})
.then(res=>res.json())
.then(data=>{
console.log("Respuesta:",data)
alert("Producto agregado")
})
.catch(error=>{
console.log(error)
})

}
function addProduct(pid){
  console.log("CLICK OK", pid)

  fetch(`/api/carts/${cartId}/products/${pid}`,{
    method:"POST"
  })
  .then(res=>res.json())
  .then(data=>{
    console.log("RESPUESTA:", data)
  })
  .catch(err=>console.log("ERROR:", err))
}
</script>